/* CSS declarations go here */
.start
{
  border: 10px solid green;
}

.pomo
{
  border: 10px solid yellow;    
}

.stop
{
  border: 10px solid red;
}

#timer
{
  font-size: 2em;
  text-align: center;
  padding: 0.5em;
  margin: 1em;
}